
<div class="container items-index">
<h1 class="titulo-seccion">Editing Lightitem</h1>

<%= render 'form', lightitem: @lightitem %>

<%= link_to 'Show', @lightitem %> |
<%= link_to 'Back', lightitems_path %>
</div>